<div class="container">
    <div class="row">

        <div>
            <div class="header p-3 mb-3 text-center">
                <h2>Bienvenido al Sistema de Gestion BF</h2>
            </div>

            <!-- Descripcion -->
            <div class="bg-secondary rounded text-center p-3">
                <p>Nuestro sistema de gestión del instituto está diseñado para simplificar y optimizar todas las tareas administrativas y académicas. Con esta herramienta, los usuarios pueden gestionar de manera eficiente la información clave del instituto. El sistema permite visualizar, agregar, editar y eliminar registros directamente desde la base de datos, asegurando que toda la información esté siempre actualizada y sea fácilmente accesible.</p>
                <p>Ya sea para administrar datos de estudiantes, profesores, cursos o cualquier otro recurso institucional, nuestra plataforma ofrece una solución integral que facilita la toma de decisiones y mejora la organización dentro del instituto. ¡Empiece a explorar todas las funcionalidades que ofrecemos para llevar la gestión de su institución al siguiente nivel!</p>
            </div>
            
            <!-- Calendario Academico -->
            <div>
                <h3 class="text-center">Calendario Academico</h3>
                <p>Aca hay que poner un calendario con "fullcalendar"</p>
            </div>

            <!-- Alert -->
            <div class="alert alert-dismissible alert-danger mt-4">
                <h4 class="alert-heading fw-bold text-dark">Atención Alumnos! Trámites varios</h4>
                <p class="mb-0 fw-bold text-dark fs-4 pb-2">A partir del mes de junio podrá solicitar trámites que se realizan en el Departamento Alumnos por el Sistema de Autogestión. Ej: Certificado de Alumno Regular.</p>
                <p class="mb-0 fw-bold text-dark fs-4">Cuando ingresa con el legajo y la clave tiene que marcar Trámites alumnos y le llegará un código a su correo para luego poder acceder a las distintas opciones de trámites.</p>
            </div>    
        </div>
    </div>
</div>

