<div class="container">
  <div class="card text-white bg-primary mb-3 mt-3">
    <div class="d-flex justify-content-between align-items-center card-header">
      <h4 class="m-3">Listado de Alumnos</h4>
      <button
        type="button"
        class="btn btn-light btn-sm m-2"
        onclick="location.href='http://localhost:4200/add_alumno'">
        Agregar Alumno
      </button>
    </div>

    <!-- Filtro por plan usando formControlName -->
     <div>
      <form [formGroup]="filtroForm" class="d-flex justify-content-center mt-2 mb-2">
        <div class="d-flex align-items-center">
          <label for="plan" class="form-label mb-1 mt-0 mr-2">Selecciona un Plan:</label>
          <select formControlName="plan" id="plan" class="form-select text-center" style="width: 200px;">
            <option value="">Todos</option>
            <option *ngFor="let plan of planesDisponibles" [value]="plan">
              {{ plan }}
            </option>
          </select>
        </div>
      </form>
     </div>
    
    
    

     <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
      <table class="table table-secondary text-center" style="position: relative;">
        <thead style="position: sticky; top: 0; background-color: #444; z-index: 1;">
          <tr>
            <th scope="col">Legajo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Plan</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of alumnosFiltrados" class="table-active">
            <th scope="row" class="text-center align-middle">{{ alumno.legajo }}</th>
            <td class="text-center align-middle">{{ alumno.nombre }}</td>
            <td class="text-center align-middle">{{ alumno.apellido }}</td>
            <td class="text-center align-middle">{{ alumno.plan }}</td>
            <td class="text-center align-middle">
              <button routerLink="/editar_alumno/{{ alumno.id }}" type="button" class="btn btn-primary btn-sm m-1"> Editar </button>
              <button (click)="deleteAlumno(alumno.id!)" type="button" class="btn btn-danger btn-sm m-1"> Eliminar </button>
              <button (click)="verAlumno(alumno)" type="button" class="btn btn-info btn-sm m-1"> Ver Info </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
