<div class="container">
    <div class="d-flex justify-content-between mt-2 mb-2"> <!-- Ver porque no funciona la class title -->
        <h4 class="m-3">Seleccionar Materia para inscribirse</h4>
    </div>
    <div class="search">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Horas Anuales</th>
                    <th scope="col">Modalidad</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let materia of listaMaterias" class="table-active">
                    <th scope="row" class="text-center align-middle">{{materia.nombre}}</th>
                    <td class="text-center align-middle">{{materia.horas_anuales}}</td>
                    <td class="text-center align-middle">{{materia.modalidad}}</td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>