<div class="container">
  <div class="card text-white bg-primary mb-3 mt-3">
    <div class="d-flex justify-content-between align-items-center card-header">
      <h4 class="m-3">Inscripciones</h4>
      <button type="button" class="btn btn-light btn-sm m-2" (click)="goadd()">Agregar Inscripción</button>
    </div>

    <div class="table-responsive">
      <table class="table table-secondary text-center mt-3 mb-3">
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Materia</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inscripcion of inscripciones" class="table-active">
            <td class="text-center align-middle">{{ inscripcion.fecha }}</td>
            <td class="text-center align-middle">{{ inscripcion.nombreMateria || 'Cargando...' }}</td>
            <td class="text-center align-middle">
              <button type="button" (click)="deleteInscripcion(inscripcion.id!)" class="btn btn-danger btn-sm m-1"> Eliminar </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger m-3">
      {{ mensajeError }}
    </div>

    <div class="row mt-2 text-center">
      <div class="col-12">
        <button (click)="goBack()" type="button" class="btn btn-secondary btn-sm m-2">Volver</button>
      </div>
    </div>
  </div>
</div>
