<div class="container mt-3">
  <div class="card text-white bg-primary mb-3 mx-auto rounded mt-3" style="max-width: 600px; border-radius: 10px;">
    <div class="card-header p-2 text-center" style="background-color: #333;">
      <h4 class="m-2" style="font-size: 1.4rem;">Buscar Alumno</h4>
    </div>
    <div class="card-body p-4 bg-primary rounded">
      <form [formGroup]="form" (ngSubmit)="buscarAlumno()" class="text-center">
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ mensajeError }}
        </div>
        <div class="mb-4">
          <label for="legajo" class="form-label">Ingrese el Legajo:</label>
          <input formControlName="legajo" type="number" class="form-control mt-2 w-100 w-md-75 mx-auto" id="legajo" placeholder="Legajo">
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-light btn-sm w-100 w-md-50" style="border-radius: 5px;">Buscar Alumno</button>
        </div>
      </form>
    </div>
  </div>
</div>
