<div class="container d-flex justify-content-center align-items-center mt-3">
  <!-- Mostrar información del Alumno -->
  <div *ngIf="tabla === 'alumnos' && alumno" class="card text-white bg-primary mb-3" style="max-width: 600px;">
    <div class="card-header text-center">Información del Alumno</div>
    <div class="card-body">
      <div class="row mb-3">
        <!-- Campo: Nombre -->
        <div class="col-md-6">
          <label for="nombre" class="form-label text-white mb-0">Nombre</label>
          <input type="text" id="nombre" [value]="alumno.nombre" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Apellido -->
        <div class="col-md-6">
          <label for="apellido" class="form-label text-white mb-0">Apellido</label>
          <input type="text" id="apellido" [value]="alumno.apellido" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Dirección -->
        <div class="col-md-6">
          <label for="direccion" class="form-label text-white mb-0">Dirección</label>
          <input type="text" id="direccion" [value]="alumno.direccion" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Fecha de Nacimiento -->
        <div class="col-md-6">
          <label for="fechaN" class="form-label text-white mb-0">Fecha de Nacimiento</label>
          <input type="text" id="fechaN" [value]="alumno.fecha_n" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Legajo -->
        <div class="col-md-6">
          <label for="legajo" class="form-label text-white mb-0">Legajo</label>
          <input type="text" id="legajo" [value]="alumno.legajo" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Mail -->
        <div class="col-md-6">
          <label for="mail" class="form-label text-white mb-0">Mail</label>
          <input type="text" id="mail" [value]="alumno.mail" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Plan -->
        <div class="col-md-6">
          <label for="plan" class="form-label text-white mb-0">Plan</label>
          <input type="text" id="plan" [value]="alumno.plan" readonly class="form-control mt-0 mb-3">
        </div>
      </div>
      <!-- Botones de acción -->
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-secondary" (click)="goBack()">Volver</button>
        <div>
          <button (click)="editarAlumno(alumno.id)" class="btn btn-light">Editar</button>
          <button (click)="verInscripciones(alumno.id)" class="btn btn-light ml-2">Ver inscripciones</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mostrar información del Admin -->
  <div *ngIf="tabla === 'admins' && admin" class="card text-white bg-primary mb-3" style="max-width: 600px;">
    <div class="card-header text-center">Información del Admin</div>
    <div class="card-body">
      <div class="row mb-3">
        <!-- Campo: Nombre -->
        <div class="col-md-6">
          <label for="nombre" class="form-label text-white mb-0">Nombre</label>
          <input type="text" id="nombre" [value]="admin.nombre" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Apellido -->
        <div class="col-md-6">
          <label for="apellido" class="form-label text-white mb-0">Apellido</label>
          <input type="text" id="apellido" [value]="admin.apellido" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Usuario -->
        <div class="col-md-6">
          <label for="usuario" class="form-label text-white mb-0">Usuario</label>
          <input type="text" id="usuario" [value]="admin.usuario" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Mail -->
        <div class="col-md-6">
          <label for="mail" class="form-label text-white mb-0">Mail</label>
          <input type="text" id="mail" [value]="admin.mail" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Dirección -->
        <div class="col-md-6">
          <label for="direccion" class="form-label text-white mb-0">Dirección</label>
          <input type="text" id="direccion" [value]="admin.direccion" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Fecha de Nacimiento -->
        <div class="col-md-6">
          <label for="fechaN" class="form-label text-white mb-0">Fecha de Nacimiento</label>
          <input type="text" id="fechaN" [value]="admin.fecha_n" readonly class="form-control mt-0 mb-3">
        </div>
        <!-- Campo: Número -->
        <div class="col-md-6">
          <label for="legajo" class="form-label text-white mb-0">Id</label>
          <input type="text" id="id" [value]="admin.id" readonly class="form-control mt-0 mb-3">
        </div>
      </div>
      <!-- Botones de acción -->
      <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-secondary" (click)="goBack()">Volver</button>
        <div>
          <button (click)="editarAdmin(admin.id)" class="btn btn-light">Editar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Mostrar mensaje si no hay información -->
  <div *ngIf="!admin && !alumno" class="text-center mt-5">
    <p>No se encontró información para el usuario especificado.</p>
    <button class="btn btn-primary" (click)="goBack()">Volver</button>
  </div>
</div>