
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Plan</th>
        <th scope="col">Email</th>
        <th scope="col">Direccion</th>
        <th scope="col">Fecha Nacimiento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of listadoAlumnos$ | async" class="table-active">
        <td> {{ alumno.nombre }} </td>
        <td> {{ alumno.apellido }} </td>
        <td> {{ alumno.plan }} </td>
        <td> {{ alumno.mail }} </td>
        <td> {{ alumno.direccion }} </td>
        <td> {{ alumno.fechaN }} </td>
      </tr>
      <tr>
    </tbody>
  </table>
  
  