<div class="row mt-3">
  <div class="col-12 col-md-8 col-lg-4 offset-lg-4">
    <div class="modal-content" style="background-color: #375a7f; border-radius: 0.25rem; border: none;">
      <div class="card-header text-center text-white">Cambiar Contraseña</div>
      <div class="card-body text-white pt-1">
        <!-- Recuadro de error -->
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
        <form [formGroup]="form" (ngSubmit)="changePassword()">
          <!-- Contraseña Actual (solo para alumnos) -->
          <div class="mb-2" *ngIf="role === 'alumno'">
            <label for="currentPassword" class="form-label">Contraseña Actual:</label>
            <input formControlName="currentPassword" type="password" id="currentPassword" class="form-control">
          </div>
          <!-- Nueva Contraseña -->
          <div class="mb-2">
            <label for="newPassword" class="form-label">Nueva Contraseña:</label>
            <input formControlName="newPassword" type="password" id="newPassword" class="form-control">
          </div>
          <!-- Confirmar Nueva Contraseña -->
          <div class="mb-2">
            <label for="confirmPassword" class="form-label">Confirmar Nueva Contraseña:</label>
            <input formControlName="confirmPassword" type="password" id="confirmPassword" class="form-control">
          </div>
          <!-- Botones -->
          <div class="row mt-2 text-center">
            <div class="col-6">
              <button type="button" class="btn btn-secondary btn-sm m-2" (click)="cancel()">Cancelar</button>
            </div>
            <div class="col-6">
              <button [disabled]="form.invalid" type="submit" class="btn btn-light btn-sm m-2">Aceptar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>