<div class="container">
  <!-- Tarjeta para el formulario de inicio de sesión -->
  <div class="card text-white bg-primary mb-3 mt-5 w-50 mx-auto">
    <!-- Encabezado de la tarjeta -->
    <div class="card-header d-flex justify-content-center align-items-center p-2">
      <h4 class="m-0" style="font-size: 1.2rem;">Inicio de Sesión</h4>
    </div>
    <!-- Cuerpo de la tarjeta -->
    <div class="card-body">
      <!-- Formulario de inicio de sesión -->
      <form class="d-flex flex-column align-items-center" (ngSubmit)="login()">
        <!-- Campo para ingresar el usuario -->
        <div class="form-group w-75 mb-3">
          <label for="usuario" class="form-label">Usuario</label>
          <input type="text" id="usuario"
            class="form-control"
            placeholder="Ingresa tu usuario"
            [(ngModel)]="usuario"
            name="usuario"
            required
          />
        </div>

        <!-- Campo para ingresar la contraseña -->
        <div class="form-group w-75 mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'" 
              id="password"
              class="form-control rounded"
              placeholder="Ingresa tu contraseña"
              [(ngModel)]="password" 
              name="password"
              required
            />
            <!-- Botón para alternar la visibilidad de la contraseña -->
            <button
              class="btn bg-white ml-2 border border-dark rounded-end"
              type="button"
              (click)="togglePasswordVisibility()"
              tabindex="-1"
            >
              <i
                class="bi"
                [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" 
                style="color: #000000;"
              ></i>
            </button>
          </div>
        </div>

        <!-- Botón para enviar el formulario -->
        <button type="submit" class="btn btn-light btn-sm w-50">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</div>