<div class="container">
  <div class="card text-white bg-primary mb-3 mt-3">
    <div class="d-flex justify-content-between align-items-center card-header">
      <h4 class="m-3">Agregar Inscripción</h4>
    </div>

    <div class="card-body">
      <!-- Agrega el formGroup aquí -->
      <form [formGroup]="filtroForm">
        <!-- Tabla de Materias -->
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
          <table class="table table-secondary text-center" style="position: relative;">
            <thead style="position: sticky; top: 0; background-color: #444; z-index: 1;">
              <tr>
                <th scope="col">Seleccionar</th>
                <th scope="col">Nombre</th>
                <th scope="col">Horas Anuales</th>
                <th scope="col">Modalidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let materia of materiasFiltradas" class="table-active">
                <td class="text-center align-middle">
                  <input type="radio" formControlName="materiaSeleccionada" [value]="materia.id">
                </td>
                <td class="text-center align-middle">{{ materia.nombre }}</td>
                <td class="text-center align-middle">{{ materia.horas_anuales }}</td>
                <td class="text-center align-middle">{{ materia.modalidad }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Input de Fecha de Inscripción -->
        <div class="mb-2 mt-3">
          <label for="fechaN" class="form-label mb-0">Fecha de Inscripción:</label>
          <input formControlName="fechaN" type="date" id="fechaN" class="form-control">
        </div>
      </form>

      <!-- Botones de acción -->
      <div class="row mt-2 text-center">
        <div class="col-6">
          <button type="button" class="btn btn-secondary btn-sm m-2" (click)="goBack()"> Volver</button>
        </div>
        <div class="col-6">
          <button type="submit" class="btn btn-light btn-sm m-2" (click)="crearInscripcion()" [disabled]="!filtroForm.valid">Inscribirse </button>
        </div>
      </div>
    </div>
  </div>
</div>
